<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"\>
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.992046171296-viq1d5ibbns7vp68p73v38si8srjld1j</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDisplayName</key>
	<string>beacon</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>background-processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.beacon.check-assignments</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs access to your calendar to show your meetings and events alongside your assignments.</string>
</dict>
</plist>
